/*
 * shutup.css
 * web - peanut gallery = bliss
 *
 * by Steven Frank <stevenf@panic.com> and contributors
 * <https://stevenf.com/shutupcss/>
 *
 * Please do not use shutup.css in derivative works (such as iOS
 * Content Blockers or browser extensions) without permission.
 *
 * Notes:
 *
 * 1. If you want to RE-ENABLE comments for a specific site, add an
 * override after importing this file.  For example, to re-enable
 * just Slashdot comments:
 *
 * @import url("https://stevenf.com/shutup/shutup-latest.css");
 *
 * #commentlisting {
 *     display: inherit !important;
 * }
 *
 * Be aware that some sites may be affected by more than one rule.
 *
 * 2. If you'd like to just fade comments out rather than completely
 * remove them from the page:
 *
 * Replace:
 *     display: none !important;
 *
 * With something like:
 *     opacity: 0.1;
 *
 * Structure:
 *   - TLDs
 *   - Sites (A-Z)
 *   - Various
 *   - Generic
 *   - Exceptions
 *
 */

/* =========================================================
 * *** TLDs ***
 * ========================================================= */

/* .at
 * --------------------------------------------------------- */

/* derstandard.at */
.communityCanvas,

/* presse.at */
#newcommentform,


/* .ca
 * --------------------------------------------------------- */

/* TSN.ca */
#tsnYourCallStory,


/* .co.uk
 * --------------------------------------------------------- */

/* creativereview.co.uk */
#feedback,

/* metro.co.uk */
#metro-comments-area,

/* mirror.co.uk */
.pluck-wrap,

/* thetimes.co.uk */
[class*="CommentContainer" i],


/* .com
 * --------------------------------------------------------- */

/* arstechnica.com */
section#promoted-comments,
aside.comments-hotness,
a.comment-count,
div.comments-bar,

/* cleveland.com */
.rtb-apps-comments-container,

/* cooking.nytimes.com */
#userNotesMount,
#notes_section,

/* dilbert.com */
.CMT_CommentList,

/* dvice.com */
#display_comments,

/* flightaware.com */
#squawk-comments,

/* ft.com */
#inferno-comments,

/* handelsblatt.com */
.hcf-article.hcf-content.hcf-article-type2,

/* hlntv.com */
.fbFeedbackContent,

/* hp.com */
.article-comments,

/* ifc.com */
.echo-stream-container,

/* LeagueofComicGeeks.com */
#comic-details #reviews,
#comic-details #discussion,

/* mjtsai.com */
div#main > div.post > div.feedback,
div#main > div.post > div.feedback + h2,
div#main > div.post > div.com[id^="com-id-"],
div#main > div.post > h3#postcomment,
div#main > div.post > form#commentform,

/* nationalpost.com (Pluck) */
.pluck-comm,

/* nytimes.com */
span.postMetaHeaderCommentCount.commentCount,
button.comments-button,
a.commentCountLink,
p.theme-comments,
#comments-speech-bubble-top,
#comments-speech-bubble-bottom,
#comments-speech-bubble-header,
#comments-speech-bubble-footer,
#comments-speech-bubble-bigBottom,
#comments-speech-bubble-inStoryMasthead,

/* onemileatatime.com */
.comments-prompt__inner,

/* phoronix.com */
a[href^="/forums/node/"],

/* polygon.com */
.footer-threads,

/* PressTV.com */
#hypercomments_widget,

/* Thehindu.com */
#vuukle-comments,

/* thenextweb.com */
#lf_comments,
#lf_twitter_comments,
#lf_facebook_comments,
#lf_comment_stream,

/* tidbits.com */
.cb_block,
.c-teaser__header .c-post__comments,


/* .com.au
 * --------------------------------------------------------- */

/* theage.com.au */
[data-testid="comments-cta"],


/* .com.br
 * --------------------------------------------------------- */

/* uol.com.br */
section.solar-comment,
section[data-nosnippet].solar-comment,
section[class*="solar-comment"],
section[data-nosnippet] article.solar-comment-published,
article.solar-comment-published,
.solar-comment-published,
section[data-nosnippet] iframe,
section[data-nosnippet] .porteira_piano_comments_tasting,


/* .de
 * --------------------------------------------------------- */

/* apfelpage.de */
a[href*="#respond"],
a[href*="#comments"],

/* auto-motor-und-sport.de */
.kommentare_uebersicht,

/* chefkoch.de */
span:has(a[href="#commentContainer"]),
.bi-comment-forms,
.recipe-comments-anchor,

/* computerbase.de */
span.article__meta-li:has(a[class="article__comments-link js-thread-link"]),
div.article-view__meta-right:has(a[class="article__comments-link article-view__comments-link-1 js-thread-link"]),
.article-view__comments-link-2.js-thread-link,

/* curved.de */
.article-content .engagement,

/* derstandard.de */
section#story-community.story-community,

/* focus.de */
#article #commentForm,
.Article-Comments-Button,

/* formel1.de */
span.fa-comments,

/* fr-online.de */
#commentsRoot,

/* giga.de */
#comments + #weiterethemen,

/* golem.de */
.share-item.comments,

/* handelsblatt.de */
a[href*="detail_tab_comments"],
.vhb-comments-container,

/* haz.de */
.pdb-article-comments,

/* heise.de */
.media-icon--comments,
.a-article-meta__icon--comments,
.kommentare_lesen_link,
.forenbeitraege_show,
a[name="meldung.newsticker.bottom.kommentarelesen"],
a[name="meldung.newsticker.header.kommentarelesen"],
a[title="Kommentar lesen"],
.kommentare-info,
footer[data-component="TeaserMeta"].ho-text-muted.flex.flex-wrap.items-center.gap-3.leading-none.text-sm.mt-4 > .flex.items-center,

/* huffingtonpost.de */
#conversations-huffpost-web-main,

/* ka-news.de */
#QuickRegCon,

/* maclife.de */
.shares .count,
#maclife #comments,

/* mactechnews.de */
span[title*="#comments"],
.MtnCommentScroll,
#ContentPlaceHolder1_FieldsetCommentEditor,
#ContentPlaceHolder1_ButtonCommentPublish,

/* mdr.de */
.modComments,

/* netzwelt.de */
a[href*="#kommentare"],

/* perspective-daily.de */
body[ng-app="pdaily"] a.discussions,
.discussion_body,
.tabs_container li:last-child,

/* piqd.de */
.pq-comment-form-wrap,
.rspec-comments-total,

/* spiegel.de */
.spCommentsBoxBody,
#spArticleFunctionForum,
body[data-guj-zone~="forum"] #postList,
#js-article-comments-box-form,
.spInteractionMarks,
.clearfix.article-comments-box.module-box,

/* tagesschau.de */
.user-kommentar-block,

/* tagesspiegel.de */
#kommentare,
#hcf-comment-wrapper.hcf-comments,
#commentInput.hcf-comments-input,
.hcf-comments,

/* taz.de */
.full.community.page.last.even,
#kommune[name="kommune"],
a[href="#kommune"],

/* teltarif.de */
#LxComments,

/* tz.de */
.id-Comment,

/* t-online.de */
#talk_community,

/* welt.de */
.c-teaser__comment,
.o-teaser__comment-count,
div[data-external-component="User.Article.Likes"],

/* wiwo.de */
.hcf-detail.hcf-comments-container,


/* .fi
 * --------------------------------------------------------- */

/* hs.fi */
#commenting,

/* kaleva.fi */
.m-contentListItem__discussion,
.__widget_DiscussionByline,
.__widget_DiscussionButton,
.discussion-container,

/* iltasanomat.fi */
.is-comments-widget,

/* yle.fi */
#yle-comments-plugin,
p[class^="TuoreimmatItem__CommentTypography"],


/* .fr
 * --------------------------------------------------------- */

/* huffingtonpost.fr */
#conversations-huffpost-web,

/* lefigaro.fr */
.fig-comments,

/* lemonde.fr */
.liste_reactions,

/* .io
 * --------------------------------------------------------- */


/* .is
 * --------------------------------------------------------- */
/* flibusta.is */
div#main-wrapper > div#main:has(form[name="formrecs"]) > span[class^="container_"],


/* itch.io */
.game_comments_widget,


/* .it
 * --------------------------------------------------------- */

/* corriere.it */
#body_dlt,
#comment_box_article,

/* repubblica.it */
#ugc-container,
#gs-social-comments,
.gig-comments-container,

/* .net
 * --------------------------------------------------------- */

/* faz.net */
button[track-label="Lesermeinungen"],
button[track-label="Alle Lesermeinungen"],
li:has(button[track-label="Lesermeinungen"]),
div[data-external-selector="comments-entry"],
div[data-external-selector="comments-loader"],

/* memberme.net */
app-creator-detail-page app-post-detail-card div.card-footer,

/* Threads.net */
head:has(> link[href="https://www.threads.net/"]) + body div:has(> [aria-label="Reply"]),
head:has(> link[href="https://www.threads.net/"]) + body div:has(> div > div > div[data-pressable-container] svg[aria-label="View activity"]) ~ div,

/* vnexpress.net */
.count_cmt,

/* .nl
 * --------------------------------------------------------- */

/* gamer.nl */
html[data-theme="gamernl"] div[data-testid="badge__root"]:has(svg), /* Comment badge */
html[data-theme="gamernl"] article > div > div > div:has(div.flex.flex-wrap.gap-2.items-center.mb-2):has(h3.heading5), /* Comments section */

/* nu.nl */
.comments-link-wrapper,


/* .pl
 * --------------------------------------------------------- */

/* tekstowo.pl */
#comments_content,
#comm_show_more,
a[name="komentarze"],


/* .ru
 * --------------------------------------------------------- */

/* kinopoisk.ru */
.media-post-page__comments-section,

/* opennet.ru */
table.ttxt2 td.ctxt,


/* =========================================================
 * *** Sites ***
 * ========================================================= */

/* #
 * --------------------------------------------------------- */

/* 1plus1.video */
._opo_-playlist-comments,

/* 9to5mac, 9to5google, 9to5toys */
.top-comment,

/* A
 * --------------------------------------------------------- */

/* Ain't It Cool News */
.block-talkback_story,

/* AniList */
#app .page-content .activity-feed-wrap + div > .recent-threads,
#app .page-content .media .threads,

/* Apester Widgets */
.apester-fill-content,

/* AppleInsider */
.comment-section-head,
.comment-section-head ~ .forum-comment,


/* B
 * --------------------------------------------------------- */

/* Bandcamp */
.deets.populated > .writing,
.spotlight-unit .item-desc,

/* BBC News */
.comments-button,
.dna-comment,
.nw-c-comment,

/* Bluesky replies */
.r-1jj8364 div:has([data-testid^="replyPromptBtn"]) ~ div:has([data-testid^="postThreadItem"]),

/* buzzfeed */
#responses,
#facebook_responses,
#facebook_conversations,
#fb_comments_wrapper,
#fb_comments_control,
.fb-comments-area,
#respond,
#badge_voting,


/* C
 * --------------------------------------------------------- */

/* CBC News */
#socialcomments,

/* CNN */
#commentblob,
#cnnComments,

/* Civil Comments */
#civil-comments,

/* Coding Horror */
#discourse-comments,

/* Comments.app */
iframe[src*="comments.app"],

/* Coral */
div#coral_talk_stream,    /* v4 */
div#coral_thread,         /* v5 */
#coral-container,         /* as seen on WSJ */

/* Cox Media sites */
#cmComments,

/* Crosscut */
.comments__btn,

/* Crunchyroll */
.c-comments-count,

/* Curbed */
.post-comments-module,
.comments-body-container,


/* D
 * --------------------------------------------------------- */

/* Dailymotion */
.pl_video_comment_post_and_comments,

/* DAUM News */
.cmt_view,

/* Designer News */
#story-comments,

/* DeviantArt */
#gmi-CCommentMaster,
div[data-hook=comments_thread],

/* Disqus */
a[data-disqus-identifier],
iframe[src*="disqus.com/embed"],
body [id*=disqus i],
body [class*=disqus i],
#dsq-content,


/* E
 * --------------------------------------------------------- */

/* Engadget (Confab) */
.confab,

/* EW */
.commentHolder,

/* E! Online */
.thyme-comment-list,


/* F
 * --------------------------------------------------------- */

/* Facebook comments */
html#facebook [aria-label^="Comment"],                                                  /* English, French, Italian */
html#facebook [aria-label^="B\EC nh\ lu\1EAD n"],                                       /* Vietnamese */
html#facebook [aria-label^="Coment"],                                                   /* Portuguese, Romanian, Spanish */
html#facebook [aria-label*="hozz\E1 sz\F3 l\E1 sa"],                                    /* Hungarian */
html#facebook [aria-label^="Koment"],                                                   /* Croatian, Malay, Slovak, Slovene */
html#facebook [aria-label*="komment" i],                                                /* Danish, Finnish, German, Norwegian, Swedish */
html#facebook [aria-label^="Opmerking"],                                                /* Dutch */
html#facebook [aria-label*="yorumu"],                                                   /* Turkish */
html#facebook [aria-label^="\41A \43E \43C \435 \43D \442 \430 \440 "],                 /* Ukrainian */
html#facebook [aria-label^="\41A \43E \43C \43C \435 \43D \442 \430 \440 \438 \439 "],  /* Russian */
html#facebook [aria-label*="\E04 \E34 \E14 \E40 \E2B \E47 \E19 "],                      /* Thai */
html#facebook [aria-label*="\B313 \AE00 "],                                             /* Korean */
html#facebook [aria-label*="\30B3 \30E1 \30F3 \30C8 "],                                 /* Japanese */
html#facebook [aria-label*="\7684 \7559 \8A00 "],                                       /* Traditional Chinese */
html#facebook [aria-label*="\8BC4 \8BBA "],                                             /* Simplified Chinese */

/* Facebook replies (where not hidden by the above) */
html#facebook [aria-label^="Reply"],                                          /* English */
html#facebook [aria-label^="Antwo"],                                          /* Dutch, German */
html#facebook [aria-label^="Balasan"],                                        /* Malay */
html#facebook [aria-label^="Odgovor"],                                        /* Croatian, Slovene */
html#facebook [aria-label^="Odpo"],                                           /* Polish, Slovak */
html#facebook [aria-label^="R\103 spuns"],                                    /* Romanian */
html#facebook [aria-label^="R\E9 ponse"],                                     /* French */
html#facebook [aria-label^="Resposta"],                                       /* Portuguese */
html#facebook [aria-label^="Respuesta"],                                      /* Spanish */
html#facebook [aria-label^="Risposta"],                                       /* Italian */
html#facebook [aria-label^="Svar"],                                           /* Danish, Norwegian, Swedish */
html#facebook [aria-label^="Tr\1EA3 \ l\1EDD i"],                             /* Vietnamese */
html#facebook [aria-label*="v\E1 lasza"],                                     /* Hungarian */
html#facebook [aria-label^="\412 \456 \434 \43F \43E \432 \456 \434 \44C "],  /* Ukrainian */
html#facebook [aria-label^="\41E \442 \432 \435 \442 "],                      /* Russian */

/* Facebook (mobile site) */
[data-sigil="comments-token"],
[data-sigil^="comment"],
[data-sigil="replies-see-more"],
[data-sigil*="inline-reply"],
[id^="comment_replies"],

/* Facebook (previously-known selectors) */
.fb-comments,
.UFIComment,
fb\:comments,
div[data-testid^=UFI2CommentsList],

/* Funimation */
.reviews-section-wrap,


/* G
 * --------------------------------------------------------- */

/* G1 and Globo */
#boxComentarios,

/* Gamasutra */
.all_comments,
#dynamiccomments,

/* GameSpot */
.comments-block,

/* Gannett newspapers and other sites that use Pluck */
div#pluckcomments,

/* Ghost */
div.gh-comments,

/* GiantBomb */
.js-comments-block,

/* GiantBomb avatars */
.comment-avatar-wrap,

/* GitHub */
.inline-comments,
#all_commit_comments,
.gist-content a[name="comments"] + div,

/* GoComics */
.js-comments-thread-container,

/*Goodreads*/
.ReviewsList,

/* Guardian */
#d2-root,


/* H
 * --------------------------------------------------------- */

/* Hearst sites */
.hdn-comments,

/* HLTV */
.contentCol .forum,

/* Hopin Chat */
nav[aria-label="Hopin main menu"] ~ div.test-id-panel#side-panel,

/* HoYoLAB */
.mhy-article-page-reply,
.mhy-article-card__data-item-clickable:has(.icon-stats_reply),


/* I
 * --------------------------------------------------------- */

/* IGN */
iframe[src*="comments.ign.com"],

/* imgur */
.Gallery-CommentsCounter,

/* Instagram (Extremely obfuscated and fragile...) */
head:has(link[href^="https://www.instagram.com"])+body a[href*="/comments/"], /* Comments text link */
head:has(link[href^="https://www.instagram.com"])+body span:has(path[d^="M20.656 "]), /* Comment icon button */
head:has(link[href^="https://www.instagram.com"])+body section:has(> div form path[d^="M15.83 "]), /* Comment form w/ emoji picker */
head:has(link[href^="https://www.instagram.com"])+body section>main hr+div div div:has(a > img):has(span > a > time), /* Comment section */
head:has(link[href^="https://www.instagram.com"])+body section>main hr+div div div:has(canvas+span>img):has(span > a > time), /* Comment section */
head:has(link[href^="https://www.instagram.com"])+body ul>div:has(div>ul>div>li a>img):has(div>ul>div>li div span>a>time), /* Comment section */
head:has(link[href^="https://www.instagram.com"])+body ul>div:has(div>ul>div>li canvas+span>img):has(div>ul>div>li div span>a>time), /* Comment section */


/* K
 * --------------------------------------------------------- */

/* KATU */
#commentform,

/* Kotaku */
.post-content .annotation-footnote-wrapper,
.post-content .annotateButton,


/* L
 * --------------------------------------------------------- */

/* Last.fm shoutbox */
div#page div#content h2#shoutbox,
div#page div#content div#shoutboxContainer,
div#shoutbox section.shoutbox,

/* Le Figaro */
#commentsTitle,
#commentsTitle + ul,
#commentsTitle + ul + span,

/* Le Monde */
.article__reactions,

/* LinkedIn */
.comments-comment-item,
.comments-comments-list,
.comments-comments-list__comment-item,
.feed-shared-update-v2__comments-container,
.social-details-first-prompt-block,
.social-details-social-counts__comments,

/* Livefyre */
#livefyre_comment_stream,
#livefyre-body,
#livefyre,
.fyre,


/* M
 * --------------------------------------------------------- */

/* MacRumors */
div[class^="footer"] a[href*="forums.macrumors.com/threads"],
div#root > div[class^="app"] > div[class^="contentWrap"] > div[class^="trending"],
div#root > div[class^="app"] > div[class^="contentWrap"] .glide .post--thread,
div#root > div[class^="app"] > div[class^="contentWrap"] div[class^="sidebar"] div[class^="widget"][class*="secondary--"],

/* MacUpdate */
.revcontent,

/* Mastodon replies */
.status-reply.status--in-thread,

/* Medium */
.responsesWrapper,
.responsesStreamWrapper,
div#root > div.a.b.c article ~ div div + div + button,

/* Micro.blog comments */
div.microblog_conversation,

/* MyAnimeList */
#myanimelist .review-element,


/* N
 * --------------------------------------------------------- */

/* NAVER News */
#cbox_module,

/* Newgrounds */
div.pod-body.review,

/* New Jalopnik (and Gawker?) */
.js_replies,
.js_comments-iframe,

/* NewsBlur */
.NB-feed-story-comments,

/* NY Times Blogs */
#readerComments,
.readerComments,
.commentsModule,

/* NY Times: The Athletic */
.article-container div:has(option[value="my_comments"]),


/* O
 * --------------------------------------------------------- */

/* OpenWeb */
body [id*=spotim i],
body [id*=spot-im i],
body [id*=openweb i],
body [class*=spotim i],
body [class*=spot-im i],
body [class*=openweb i],
[data-spot-im-shadow-host],
[data-spotim-module],

/* Opinary Widgets */
.opinary-iframe,
.opinary-widget-wrapper,

/* Oprah */
#media_comments,


/* P
 * --------------------------------------------------------- */

/* Patreon */
[data-test-tag="comment-row"],
[data-tag="post-details"] ~ :last-child,

/* Pixiv */
div#root > div#gtm-var-theme-kind ~ div main > section > div > div >
	section[class^="sc-"],

/* Pixiv Fanbox */
div#root > div[class^="sc-"] > div[class^="sc-"] > div:not([class])
	div[class^="sc-"] > article ~ div:not([class]) > div[class^="sc-"],

/* Penny Arcade report */
#vanilla-comments,

/* Polygon */
.m-hero__comment-count,

/* Product Hunt */
[class^=main] div[class^=content] div[data-test^=thread],


/* Q
 * --------------------------------------------------------- */

/* Quora */
.threaded_comments,


/* R
 * --------------------------------------------------------- */

/* Reddit */
.commentarea,
shreddit-comment-tree,
shreddit-comment,
comment-body-header,
shreddit-comments-page-ad,
faceplate-batch[target="#comment-tree"],

/* Radio-Canada */
.viafoura,

/* Refinery29 */
.sppre_conversation-view,

/* Russia Today */
.b-comments_page,


/* S
 * --------------------------------------------------------- */

/* SB Nation */
.m-comment-count__bubble,
.m-stream__node-list__comments,

/* Seattle Times */
#showcomments,

/* Sydney Morning Herald (and possibly others) */
iframe[src*="ffx.io/api/comments"],

/* Slate */
.js-CommentsArea,

/* SoundCloud */
.commentsList__item .commentItem,
.commentPopover,

/* Stack Exchange sites (e.g., Stack Overflow) */
[itemprop="commentCount"],
.js-post-comments-component,

/* Steam Community */
.commentthread_area,

/* Substack */
#comments-for-scroll,


/* T
 * --------------------------------------------------------- */

/* The Globe and Mail */
#latest-comments,

/* The Stranger */
#BrowseComments, .fa-comment, .comment-count,

/* The Verge */
[data-ui=comment],
.duet--article--comments-join-the-conversation,
.duet--article--comments-link,

/* Thrillist */
.comments__spotim,

/* Times of India */
.topcomment,
.bottom-comments,
.cmtwrapper,

/* Tom's Hardware */
.xenforo-comment-widget,

/* trakt.tv */
.summary-comments,

/* Treehugger */
.replies-wrapper > .replies,
.view-comment-list,

/* Tweetdeck */
div.js-replies-to.replies-after article + article,
div.js-tweet-replies article,
div.js-conversation-show-more.conversation-more,

/* Twitch Chat */
#right-column .chat-room,
.right-column .chat-room__container,
.channel-page__right-column .chat__container,
.chat-pane .chat-pane__chat-list,
div[data-a-target="right-column-chat-bar"],
.stream-chat,

/* TwitPic */
#media-comments,


/* U
 * --------------------------------------------------------- */

/* USgamer paragraph comment buttons */
a.button.annotation-count,

/* utteranc.es embeds */
iframe[src*="utteranc.es"],


/* V
 * --------------------------------------------------------- */

/* VersionTracker */
#prodReviews,

/* Veja */
.abril-comentarios-widget,

/* Viafoura */
body [id*=viafoura i],
body [class*=viafoura i],
.vf-comments,

/* VK */
.replies_wrap > div:first-child,
#pv_comments.wall_module,
#mv_comments.wall_module,
.wl_replies_block_wrap,

/* Vuukle */
body [id*=vuukle i],
body [class*=vuukle i],


/* W
 * --------------------------------------------------------- */

/* Wall Street Journal */
#comments_sector,
#article-comments-tool,
[class*="comment-count"],

/* Wired.com */
.CommentingMainContent,

/* WordPress */
.wp-block-latest-comments,


/* X
 * --------------------------------------------------------- */

/* x.com replies, various localizations */
[aria-label="Timeline: Conversation"] div:has(button[data-testid="tweetButtonInline"]) ~ div:has(article[data-testid="tweet"]),
[aria-label="\10C asov\E1 \ os: Konverz\E1 cia"] div:has(button[data-testid="tweetButtonInline"]) ~ div:has(article[data-testid="tweet"]),
[aria-label="\65F6 \95F4 \7EBF \FF1A \5BF9 \8BDD "] div:has(button[data-testid="tweetButtonInline"]) ~ div:has(article[data-testid="tweet"]),
[aria-label="\6642 \9593 \8EF8 \FF1A \5C0D \8A71 "] div:has(button[data-testid="tweetButtonInline"]) ~ div:has(article[data-testid="tweet"]),
[aria-label="\D0C0 \C784 \B77C \C778 : \B300 \D654 "] div:has(button[data-testid="tweetButtonInline"]) ~ div:has(article[data-testid="tweet"]),
[aria-label="Aikajana: Keskustelu"] div:has(button[data-testid="tweetButtonInline"]) ~ div:has(article[data-testid="tweet"]),
[aria-label="Cronolog\ED a: Conversaci\F3 n"] div:has(button[data-testid="tweetButtonInline"]) ~ div:has(article[data-testid="tweet"]),
[aria-label="Cronologia: Conversazione"] div:has(button[data-testid="tweetButtonInline"]) ~ div:has(article[data-testid="tweet"]),
[aria-label="Cronologie: Conversa\21B ie"] div:has(button[data-testid="tweetButtonInline"]) ~ div:has(article[data-testid="tweet"]),
[aria-label="Fil d'actualit\E9 s : Conversation"] div:has(button[data-testid="tweetButtonInline"]) ~ div:has(article[data-testid="tweet"]),
[aria-label="Garis masa: Perbualan"] div:has(button[data-testid="tweetButtonInline"]) ~ div:has(article[data-testid="tweet"]),
[aria-label="Id\151 vonal: Besz\E9 lget\E9 s"] div:has(button[data-testid="tweetButtonInline"]) ~ div:has(article[data-testid="tweet"]),
[aria-label="Tidslinje: Konversation"] div:has(button[data-testid="tweetButtonInline"]) ~ div:has(article[data-testid="tweet"]),
[aria-label="Tidslinje: Samtale"] div:has(button[data-testid="tweetButtonInline"]) ~ div:has(article[data-testid="tweet"]),
[aria-label="Tidslinje: Samtale"] div:has(button[data-testid="tweetButtonInline"]) ~ div:has(article[data-testid="tweet"]),
[aria-label="Tijdlijn: Gesprek"] div:has(button[data-testid="tweetButtonInline"]) ~ div:has(article[data-testid="tweet"]),
[aria-label="Timeline: Conversa"] div:has(button[data-testid="tweetButtonInline"]) ~ div:has(article[data-testid="tweet"]),
[aria-label="Timeline: Konversation"] div:has(button[data-testid="tweetButtonInline"]) ~ div:has(article[data-testid="tweet"]),
[aria-label="Vremenska crta: Razgovor"] div:has(button[data-testid="tweetButtonInline"]) ~ div:has(article[data-testid="tweet"]),
[aria-label="Zaman Ak\131 \15F \131 : Sohbet"] div:has(button[data-testid="tweetButtonInline"]) ~ div:has(article[data-testid="tweet"]),
[aria-label*="\30E0 \30E9 \30A4 \30F3 : \4F1A \8A71 "] div:has(button[data-testid="tweetButtonInline"]) ~ div:has(article[data-testid="tweet"]),
[aria-label*="\435 \43D \442 \430 : \41F \435 \440 \435 "] div:has(button[data-testid="tweetButtonInline"]) ~ div:has(article[data-testid="tweet"]),
[aria-label*="\456 \447 \43A \430 : \420 \43E \437 \43C "] div:has(button[data-testid="tweetButtonInline"]) ~ div:has(article[data-testid="tweet"]),
[aria-label*="\E32 \E23 \E13 \E4C : \E1A \E17 \E2A \E19 "] div:has(button[data-testid="tweetButtonInline"]) ~ div:has(article[data-testid="tweet"]),
[aria-label^="D\F2 ng th\1EDD i gian: Cu\1ED9 c tr\F2 \ "] div:has(button[data-testid="tweetButtonInline"]) ~ div:has(article[data-testid="tweet"]),


/* Y
 * --------------------------------------------------------- */

/* Yahoo News */
.mwpphu-comments,
.ugccmt-comments,

/* Yahoo News (Japan) */
#articleCommentModule,

/* Yahoo! News floating comment dingus */
#YDC-MainCanvas .canvas-share-buttons > div:last-child,

/* YouTube */
#watch-comment-panel,
#watch-comments-core,
#watch-discussion,
#comments-test-iframe,
yt-video-metadata-carousel-view-model:has(comments-entry-point-teaser-view-model),
ytm-comment-section-renderer,
ytm-comments-entry-point-header-renderer,
ytd-comments,
ytd-comment-thread-renderer,
ytd-comment-renderer,
ytd-comments-entry-point-header-renderer,
[section-identifier="comment-item-section"],

/* YouTube Live Chat */
#watch-sidebar-live-chat,
ytd-live-chat-frame,


/*
 * --------------------------------------------------------- */

/* ZDNet */
[class*="c-socialComments"],
[class*="c-socialSharebar_button-comments"],


/* =========================================================
 *  *** Various ***
 * ========================================================= */

/* Sites using Insticator (e.g., National Review) */
.insticator-unit,
#insticator-commenting,
.instiengage-comments,

/* Various French streaming mirrors */
.barremenu ~ div.row div[id^="critique"],

/* Various shady sites */
.content form ~ a#ci ~ div[id^=c0],
.content form ~ a#ci ~ div[id^=c1],
.content form ~ a#ci ~ div[id^=c2],
.content form ~ a#ci ~ div[id^=c3],
.content form ~ a#ci ~ div[id^=c4],
.content form ~ a#ci ~ div[id^=c5],
.content form ~ a#ci ~ div[id^=c6],
.content form ~ a#ci ~ div[id^=c7],
.content form ~ a#ci ~ div[id^=c8],
.content form ~ a#ci ~ div[id^=c9],
.ncomments_container,
#cdiv.gm,
#ws > #content > table#details ~ table,


/* =========================================================
 *  *** Generic ***
 * ========================================================= */

a[href="#id-Comments"],
body [data-test-id*="comment" i],
body [id*=commentaires i],
body [class*=commentaires i],
egy-discussion,
.all-comments,
.article-comments,
.articleComments,
.btn-comments,
.com_text,
.comment_area,
.comment_count,
.comment-button,
.comment-container,
.comment-list,
.comment-section,
.comment,
.Comment,
.commentBox,
.CommentBox,
.commentBoxStyle,
.commenting-wrapper,
.commentlist,
.commentsarea,
.comments__container,
.comments-label,
.comments_area,
.comments-area,
.comments_article,
.comments-container,
.comments-link,
.comments-list,
.comments-pane,
.comments-section,
.comments-wrap,
.comments:not(code),
.Comments:not(code),
.commentsApp,
.commentsContainer,
.commentsList,
.CommentsList,
.commentText,
.commenttxt,
.commentwrapper,
.discussionContainer,
.icon-comments,
.Opinions,
.page-comments,
.pagecomment,
.pagecommentheader,
.post-comment-list,
.post-comment,
.post-comments,
.reacties,
.section-comment,
.user_comment,
.widget-comments,
.widget_recent_comments,
#article-comments,
#articleComments,
#blogComments,
#box_comment,
#cmtWrapper,
#comentarios,
#comment_container,
#comment_entries,
#comment_form,
#comment-container,
#comment-list,
#comment-section,
#commentblock,
#commentbox:not(.ytd-backstage-post-dialog-renderer),
#commentcontainer,
#commentlist,
#commentList,
#commentlisting,
#comments_box,
#comments_container,
#comments_pane,
#comments-app-container,
#comments-component,
#comments-container,
#comments-count,
#comments-frame,
#comments-list,
#comments-panel,
#comments-wrapper,
#comments:not(code),
#Comments:not(code),
#commentsBox,
#commentscontainer,
#commentsContainer,
#commentsDiv,
#commentsInner,
#commentwrapper,
#id-Comments,
#post-comments,
#reacties,
#show-comments-container,
#user_commeent_section,
#user-comments {
	display: none !important;
}

/* =========================================================
 *  *** Exceptions ***
 * ========================================================= */

/*
 * Some pages use a comments class on the top level element,
 * blocking the whole page. Weird.
 */

html.comments, body.comments,
html.Comments, body.Comments,
html#comments, body#comments,
html#Comments, body#Comments,

/* City Observatory's "City Commentary" posts */
body.post-template-default.category-commentary
	> div.header:first-child
	+ div.content.comments,

/* highlight.js and Prism */
code span.comment,
pre span.comment,

/* MediaWiki edit summaries (Wikipedia, etc.) */
#pagehistory .comment,
table.diff .comment,
.mw-summary-preview .comment {
	display: initial !important;
}

/* Fimfiction */
.group-page > .group > div[data-thread-id] .comment,
body > div#dimmers + .quote_container .comment {
	display: table !important;
}

/* GitHub comments in pull requests and discussions/issues */
.pull-request-tab-content .comment,
#discussion_bucket .comment,

/* Substack comments pages */
div.comments-page div.comment-list,
div.comments-page div.comment-list div.comment,

/* WordPress admin panel comment view */
#wpcom main.comments,
#wpcom main.comments .comment-list,
#wpcom main.comments .comment-list .comment {
	display: block !important;
}

/* GitHub pull request inline comments */
.pull-request-tab-content .inline-comments {
	display: table-row !important;
}
