/*
 * shutup.css
 * web - peanut gallery = bliss
 *
 * by Steven Frank <stevenf@panic.com> and contributors
 * <https://stevenf.com/shutupcss/>
 *
 * Please do not use shutup.css in derivative works (such as iOS
 * Content Blockers or browser extensions) without permission.
 *
 * Notes:
 *
 * 1. If you want to RE-ENABLE comments for a specific site, add an
 * override after importing this file.  For example, to re-enable
 * just Slashdot comments:
 *
 * @import url("https://stevenf.com/shutup/shutup-latest.css");
 *
 * #commentlisting {
 *     display: inherit !important;
 * }
 *
 * Be aware that some sites may be affected by more than one rule.
 *
 * 2. If you'd like to just fade comments out rather than completely
 * remove them from the page:
 *
 * Replace:
 *     display: none !important;
 *
 * With something like:
 *     opacity: 0.1;
 *
 */

/* YouTube */
#cm,
#watch-discussion,
ytm-comment-section-renderer,

/* Disqus */
a[data-disqus-identifier],
iframe[src*="disqus.com/embed"],
body [id*=disqus i],
body [class*=disqus i],
#dsq-content,

/* spot.im/OpenWeb */
body [id*=spotim i],
body [class*=spotim i],

/* Last.fm shoutbox */
div#page div#content h2#shoutbox,
div#page div#content div#shoutboxContainer,
div#shoutbox section.shoutbox,

/* nationalpost.com (Pluck) */
.pluck-comm,

/* DeviantArt */
div[data-hook=comments_thread],

/* 9to5mac */
#idc-container-parent,

/* Livefyre */
#livefyre-body,
#livefyre,
.fyre,

/* ZDNet */
.view-6,
.space-_5,

/* ifc.com */
.echo-stream-container,

/* creativereview.co.uk */
#feedback,

/* Facebook feedback */
fb\:comments,
div[data-testid^=UFI2CommentsList],
/* new facebook beta look */
[data-pagelet*="FeedUnit"] [aria-label^="Comment"],
[data-pagelet*="FeedUnit"] [aria-label^="Reply"],

/* buzzfeed */
#responses,
#facebook_responses,
#respond,
#badge_voting,

/* spiegel.de */
#spArticleFunctionForum,
body[data-guj-zone~="forum"] #postList,
.spInteractionMarks,

/* handelsblatt.de */
a[href*="detail_tab_comments"],

/* handelsblatt.com */
.hcf-article.hcf-content.hcf-article-type2,

/* corriere.it */
#body_dlt,

/* repubblica.it */
#ugc-container,

/* faz.net */
.ArtikelKommentieren,
.tsr-Base_ContentMetaItem-social-feedback,
#lesermeinungen,

/* mirror.co.uk */
.pluck-wrap,

/* Treehugger */
.replies-wrapper > .replies,

/* New Jalopnik (and Gawker?) */
.js_replies,

/* derstandard.at */
.communityCanvas,

/* derstandard.de */
section#story-community.story-community,

/* ka-news.de */
#QuickRegCon,

/* taz.de */
.full.community.page.last.even,

/* Kotaku */
.post-content .annotation-footnote-wrapper,
.post-content .annotateButton,

/* The Verge */
[data-ui=comment],

/* lemonde.fr */
.liste_reactions,

/* lefigaro.fr */
#reagir,

/* NAVER News */
#cbox_module,

/* DAUM News */
.cmt_view,

/* Medium */
div#root > div.a.b.c article ~ div div + div + button,

/* VK */
.replies_wrap > div:first-child,

/* MacRumors mobile site comments link */
.teaser .teaser_footer > a,

/* Twitch Chat */
#right-column .chat-room,
.right-column .chat-room__container,
.channel-page__right-column .chat__container,
.chat-pane .chat-pane__chat-list,
div[data-a-target="right-column-chat-bar"],

/* YouTube Live Chat */
#watch-sidebar-live-chat,
ytd-live-chat-frame,

/* Patreon */
[data-test-tag="comment-row"],
[data-tag="comment-row"],

/* Instagram */
ul.Mr508, /* Detail page, all comments except OP */
article._8Rm4L div.ybXk5, /* Feed, all comments except OP */
article._8Rm4L a.r8ZrO, /* Feed, show comments link */

/* Pixiv */
div#root section.dBUetj,

/* Pixiv Fanbox */
div#root div.jUvQSR,

/* Yahoo! News floating comment dingus */
#YDC-MainCanvas .canvas-share-buttons > div:last-child,

/* HLTV */
.contentCol .forum,

/* Times of India */
.cmtwrapper,

/* Sydney Morning Herald (and possibly others) */
iframe[src*="ffx.io/api/comments"],

/* Opinary Widgets */
.opinary-iframe,
.opinary-widget-wrapper,

/* Apester Widgets */
.apester-fill-content,

/* heise.de */
.forenbeitraege_show,
a[name="meldung.newsticker.header.kommentarelesen"],

/* mactechnews.de */
span[title*="#comments"],

/* maclife.de */
.shares .count,

/* apfelpage.de */
a[href*="#respond"],
a[href*="#comments"],

/* giga.de */
#comments + #weiterethemen,

/* welt.de */
div[data-external-component="User.Article.Likes"],

/* t-online.de */
#talk_community,

/* curved.de */
.article-content .engagement,

/* netzwelt.de */
a[href*="#kommentare"],

/* perspective-daily.de */
body[ng-app="pdaily"] a.discussions,
.discussion_body,
.tabs_container li:last-child,

/* tekstowo.pl */
#comm_show_more,
a[name="komentarze"],

/* Comments.app */
iframe[src*="comments.app"],

/* IGN */
iframe[src*="comments.ign.com"],

/* Product Hunt */
[class^=main] div[class^=content] div[data-test^=thread],

/* Le Figaro */
#commentsTitle + ul, #commentsTitle + ul + span,

/* Le Monde */
.article__reactions,

/* Tweetdeck */
div.js-replies-to.replies-after article + article,
div.js-tweet-replies article,

/* Newgrounds */
div.pod-body.review,

/* Funimation */
.reviews-section-wrap,

/* MyAnimeList */
div.detail-characters-list ~ div.borderDark,

/* Adult */
.content form ~ a#ci ~ div[id^=c0],
.content form ~ a#ci ~ div[id^=c1],
.content form ~ a#ci ~ div[id^=c2],
.content form ~ a#ci ~ div[id^=c3],
.content form ~ a#ci ~ div[id^=c4],
.content form ~ a#ci ~ div[id^=c5],
.content form ~ a#ci ~ div[id^=c6],
.content form ~ a#ci ~ div[id^=c7],
.content form ~ a#ci ~ div[id^=c8],
.content form ~ a#ci ~ div[id^=c9],
#cdiv.gm,

/* Misc. */
.discussionContainer,
.com_text,
#cmtWrapper,

/* *************** */
/* *** Generic *** */
/* *************** */

/* English */
body [id*=comment i]:not(code),
body [id*=conversation i],
body [class*=comment i]:not(code),
body [class*=conversation i],
/* French */
body [id*=commentaire i]:not(code),
body [class*=commentaire i]:not(code),
/* German */
body [id*=kommentare i]:not(code),
body [class*=kommentare i]:not(code),
/* Spanish, Portuguese */
body [id*=comentario i]:not(code),
body [class*=comentario i]:not(code),
/* Dutch */
body [id*=reacties i],
body [class*=reacties i]
{
	display: none !important;
}


/* ****************** */
/* *** Exceptions *** */
/* ****************** */

/* City Observatory's "City Commentary" posts */
body.post-template-default.category-commentary
	> div.header:first-child
	+ div.content.comments,

/* highlight.js and Prism */
code span.comment,
pre span.comment,

/* The Guardian */
[class*=tonal][class*=comment],

/* MediaWiki edit summaries (Wikipedia, etc.) */
#pagehistory .comment,
table.diff .comment,
.mw-summary-preview .comment
{
	display: initial !important;
}

/* VK */
#page_wall_posts .closed_comments,

/* Nextcloud file listing */
[id*="app-content"].has-comments,

/* GitHub - Pull Request comments */
.repository-content .comment
{
	display: block !important;
}
